.comics-modal {
	position: relative;
}

.comics-content {
	display: flex;
}

.comics-item-title {
	text-align: center;
}

.comics-item-image {
	min-height: 55vh;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1;
}

.comics-description {
	flex: 1;
	padding: 0 15px;
}

.comics-item-links {
	display: flex;
	justify-content: space-around;
	padding: 15px 0;
	/*position: absolute;*/
	/*bottom: 0;*/
}

.comics-item-links a {
	color: white;
	text-transform: capitalize;
	text-decoration: none;
}

.mat-raised-button {
	margin: 0 auto;
}

.comics-dialog-close {
	position: absolute;
	top: -15%;
	right: -1%;
}
