<mat-dialog-content>
	<div class="comics-modal">
		<div class="comics-item-image"
		     [style.background-image]="'url(' + comics.thumbnail.path + '.' + comics.thumbnail.extension +')'">
		</div>

		<div class="dialog-item-info position-relative">
			<h3 mat-dialog-title
			    class="comics-item-title marvel-font">
				{{comics.title}}
			</h3>
			<mat-dialog-actions>
				<mat-icon class="comics-dialog-close"
				          (click)="close()">
					close
				</mat-icon>
			</mat-dialog-actions>

			<div class="comics-description">
				<p [innerHTML]="comics.description"></p>
			</div>

			<div class="comics-item-links full-width">
				<a *ngFor="let link of comics.urls"
				   href="{{link.url}}"
				   target="_blank">
					{{link.type}}
				</a>
			</div>
		</div>
	</div>
</mat-dialog-content>
