.comics-modal {
	display: flex;
}

.comics-item-image {
	min-height: 29vh;
	max-height: 400px;
	max-width: 350px;
	flex: 1;
	background-repeat: no-repeat;
	background-size: cover;
}

.comics-item-title {
	text-align: center;
	margin-top: 40px;
}

.comics-item-links {
	display: flex;
	justify-content: space-around;
	padding: 15px 0;
}

.comics-item-links a {
	color: white;
	text-transform: capitalize;
	text-decoration: none;
}

.comics-dialog-close {
	position: absolute;
	top: 2%;
	right: 2%;
}
