<section *ngIf="!isLoading; else spinner">
	<input matInput
	       placeholder="Search your series"
	       class="user-search"
	       #searchBox
	       (keyup)="search(searchBox.value)">

	<div class="simple-pagination full-width">
		<mat-form-field>
			<mat-label>Item per page</mat-label>
			<mat-select [(value)]="selected"
			            (selectionChange)="itemsPerPage()">
				<mat-option *ngFor="let item of selectOptions"
				            [value]=item>
					{{item}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<mat-grid-list *ngIf="!isSearchActive; else searchSpinner"
	               [cols]="breakpoint"
	               rowHeight="450px">

		<mat-grid-tile class="item-container"
		               *ngFor="let series of seriesList">
			<div>
				<mat-card class="series-item hover-scale"
				          (click)="openDialog(series)">
					<div class="title marvel-font full-width">
						{{series.title}}
					</div>

					<div class="series-image full-width"
					     [style.background-image]="'url(' + series.thumbnail.path + '.' + series.thumbnail.extension +')'">
					</div>
				</mat-card>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
	<ng-template #searchSpinner>
		<div class="spinner">
			<ngx-pulse-loader class="item"
			                  color="white">
			</ngx-pulse-loader>
		</div>
	</ng-template>
</section>

<ng-template #spinner>
	<div class="spinner">
		<ngx-pulse-loader class="item"
		                  color="white">
		</ngx-pulse-loader>
	</div>
</ng-template>

