.card-item {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 310px;
	background-color: #212121;
	cursor: pointer;
}

.card-title {
	padding: 10px 10px;
	background-color: rgba(0,0,0, 0.45);
}

.card-image {
	background-repeat: no-repeat;
	background-size: cover;
}
