<mat-toolbar class="header">

	<div class="header_logo">
		<img class="header_logo-img" src="../../assets/images/logo.png" alt="Logo">
	</div>

	<div class="header_user">
		<mat-icon>account_circle</mat-icon>
		<span class="header-user_name">{{authService.activeUser.name}}</span>
	</div>

	<nav mat-tab-nav-bar class="header-menu">
		<a mat-tab-link
		   class="header-menu_item"
		   *ngFor="let link of links; let i = index"
		   routerLink="/{{link}}"
		   (click)="activeLink = link;"
		   [active]="activeLink == link">
			{{link| titlecase}}
		</a>
	</nav>

</mat-toolbar>



<!--[attr.data-id]="i"-->
