.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
}

.header-logo {
	flex-basis: 200px;
	flex-grow: 0;
	display: flex;
	align-items: center;

}

.header-logo-img {
	height: 50px;
	cursor: pointer
}

.header-user {
	display: flex;
	align-items: center;
	flex-basis: 100px;
	flex-grow: 0;
}

.header-user-name {
	margin: 0 10px;
	padding-top: 5px;
}

.header-menu {
	display: flex;
	justify-content: space-between;
}

.header-menu-item {
	display: block;
	margin-right: 20px;
	color: white;
	min-width: 100px;
}

.marvel-font {
	font-family: 'Marvel', sans-serif;
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: uppercase;
}

.logo-out {
	cursor: pointer;
}
