.creator-modal {
	display: flex;
}

.creator-item-title {
	text-align: center;
	padding-top: 35px;
}

.creator-item-image {
	min-height: 49vh;
	width: 45%;
	background-repeat: no-repeat;
	background-size: cover;
}

.creator-item-links {
	display: flex;
	justify-content: space-around;
	padding: 15px 0;
}

.creator-item-links a {
	color: white;
	text-transform: capitalize;
	text-decoration: none;
}

.creator-dialog-close {
	position: absolute;
	top: 0;
	right: -1%;
}
