.background {
  height: 100vh;
  background: url("../../assets/images/form_background.jpg") no-repeat top right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 445px;
  padding: 35px;
  border: 5px solid gray;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
}

.container input{
  height: 35px;
  padding: 5px;
}

.container input::placeholder {
  font-size: 17px;
}

.container button {
  color: white;
  font-size: 25px;
  height: 55px;
  margin-top: 10px;
}

.subtitle {
  display: flex;
  margin: 0 auto;
}

.subtitle button {
  color: blueviolet;
  font-size: 20px;
}

.error {
  color: #f44336;
  font-weight: 700;
  font-size: 15px;
  z-index: 20;
}
