<div class="background">
	<div class="container" [ngSwitch]="isLoginExist">
		<div class="logo">
			<img class="fullwidth" src="../../assets/images/logo-white.png" alt="logo-marvel">
		</div>
		<div class="form" [ngSwitch]="isLoginExist">
			<!--   =============== Form to log in ========================-->
			<form *ngSwitchCase="true" class="login fullwidth" [formGroup]="formToLogIn" (ngSubmit)="submitLogIn()">
				<mat-form-field>
					<label>
						<input matInput
						       placeholder="Login"
						       formControlName="login">
					</label>
				</mat-form-field>
				<mat-form-field>
					<label>
						<input matInput
						       placeholder="Password"
						       type="password"
						       formControlName="password">
					</label>
				</mat-form-field>
				<div class="error" *ngIf="!isLoginAndPassValid">
					Please check your User Name and Password and try again
				</div>
				<div class="button">
					<button mat-raised-button
					        class="fullwidth"
					        type="submit"
					        [disabled]="formToLogIn.invalid">
						Log In
					</button>
				</div>
				<div class="subtitle">
					<p>Not registered?
						<button mat-button
						        type="button"
						        (click)="isLoginExist = !isLoginExist;
								formToLogIn.reset();">
							Create an account
						</button>
					</p>
				</div>
			</form>
			<!-- =============== Form to sign up ======================== -->
			<form *ngSwitchCase="false" class="login fullwidth" [formGroup]="formToSignUp" (ngSubmit)="submitSignUp()">
				<mat-form-field>
					<label>
						<input matInput placeholder="Email address"
						       formControlName="email"
						       class="fullwidth"
						       pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
					</label>
					<mat-error
						*ngIf="formToSignUp.get('email').hasError('pattern')">
						<span class="error">Email should must be a valid email address</span>
					</mat-error>
				</mat-form-field>
				<mat-form-field>
					<label>
						<input matInput placeholder="Name" formControlName="name">
					</label>
				</mat-form-field>
				<mat-form-field>
					<label>
						<input matInput placeholder="Password" type="password" formControlName="password">
					</label>
				</mat-form-field>
				<div class="button">
					<button mat-raised-button
							class="fullwidth"
					        type="submit"
					        [disabled]="formToSignUp.invalid">
						Create
					</button>
				</div>
				<div class="subtitle">
					<p>Already registered?
						<button mat-button
						        (click)="isLoginExist = !isLoginExist;
									formToSignUp.reset()">
							Sign in
						</button>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>
