.background {
	height: 100vh;
	background: url("../../assets/images/form_background.jpg") no-repeat top right;
	background-size: cover;
	position: relative;
}

.container {
	height: 25%;
	width: 300px;
	display: flex;
	flex-direction: column;
	color: white;
	position: absolute;
	top: 20%;
	left: 25%;
}

.logo {
	background: url("../../assets/images/logo.png") no-repeat center;
	background-size: cover;
	max-height: 180px;
	z-index: 2;
}

.form {
	position: relative;
	padding: 20px;
	border: 2px solid #f44336;
	border-top: none;
	z-index: 1;
	display: flex;
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	z-index: -5;
}

.button button:first-of-type {
	color: white;
	background-color: rgb(5, 3, 186);
	font-size: 20px;
	height: 55px;
	margin-top: 10px;
}

.subtitle {
	display: flex;
	margin: 0 auto;
}

.subtitle button {
	background: transparent;
	color: rgb(5, 3, 186);
	padding: 0;
	font-size: inherit;
}

.error {
	color: #f44336;
}
