<div class="login-page">
	<div class="container"
	     [ngSwitch]="isLoginExist">
		<div class="logo">
			<img class="full-width"
			     src="../../assets/images/logo.png"
			     alt="logo-marvel">
		</div>
		<div class="form"
		     [ngSwitch]="isLoginExist">
			<!--   =============== Form to log in ========================-->
			<form *ngSwitchCase="true"
			      class="login full-width"
			      [formGroup]="formToLogIn"
			      (ngSubmit)="submitLogIn()">
				<mat-form-field>
					<input matInput
					       placeholder="Login"
					       formControlName="login">
				</mat-form-field>
				<mat-form-field>
					<input matInput
					       placeholder="Password"
					       type="password"
					       formControlName="password">
				</mat-form-field>
				<div class="error"
				     *ngIf="!isLoginAndPassValid">
					Please check your User Name and Password and try again
				</div>
				<div class="button">
					<button mat-raised-button
					        class="full-width"
					        type="submit"
					        [disabled]="formToLogIn.invalid">
						Log In
					</button>
				</div>
				<div class="subtitle">
					<p>
						Not registered?
						<button mat-button
						        type="button"
						        (click)="changeForm(formToLogIn)">
							Create an account
						</button>
					</p>
				</div>
			</form>
			<!-- =============== Form to sign up ======================== -->
			<form *ngSwitchCase="false"
			      class="login full-width"
			      [formGroup]="formToSignUp"
			      (ngSubmit)="submitSignUp()">
				<mat-form-field>
					<input matInput
					       placeholder="Email address"
					       formControlName="email"
					       class="full-width">
					<mat-error *ngIf="formToSignUp.get('email').hasError('pattern')">
						<span class="error">Email should must be a valid email address</span>
					</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput
					       placeholder="Name"
					       formControlName="name">
				</mat-form-field>
				<mat-form-field>
					<input matInput
					       placeholder="Password"
					       type="password"
					       formControlName="password">
				</mat-form-field>
				<div class="button">
					<button mat-raised-button
					        class="full-width"
					        type="submit"
					        [disabled]="formToSignUp.invalid">
						Create
					</button>
				</div>
				<div class="subtitle">
					<p>
						Already registered?
						<button mat-button
						        (click)="changeForm(formToSignUp)">
							Sign in
						</button>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>
