<mat-grid-list *ngIf="!isSearchActive; else searchSpinner"
               [cols]="breakpoint"
               rowHeight="320px"
               gutterSize="20px">
	<mat-grid-tile *ngFor="let item of itemsList, let index = index;">
		<app-item-card *ngIf="component != 'story'; else storyCard"
		               class="item-container"
		               [item]="item"
		               (click)="openDialog(item)">
		</app-item-card>

		<ng-template #storyCard>
			<app-story-item-card-component [data]="item"
			                               [index]="index + 1">
			</app-story-item-card-component>
		</ng-template>
	</mat-grid-tile>
</mat-grid-list>

<mat-icon class="scroll-to-top"
          [ngClass]="{'show-scrollTop': isWindowScrolled}"
          (click)="scrollToTop()">
	arrow_upward
</mat-icon>

<ng-template #searchSpinner>
	<div class="spinner">
		<ngx-pulse-loader class="item"
		                  color="white">
		</ngx-pulse-loader>
	</div>
</ng-template>
