.hero-item {
	display: flex;
	flex-direction: column;
	width: 350px;
	margin: 0 auto;
	background-color: #212121;
	transition: 1s;
}

.title {
	text-align: center;
	padding: 10px 10px;
	border: 2px solid white;
}

.hero-image {
	min-height: 300px;
	height: 80%;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-item:hover {
	transform: scale(1.2);
}
