<section *ngIf="!isLoading; else spinner">
	<input matInput
	       placeholder="Search your hero"
	       class="user-search"
	       #searchBox
	       (keyup)="search(searchBox.value)">

	<div class="simple-pagination full-width">
		<mat-form-field>
			<mat-label>Item per page</mat-label>
			<mat-select [(value)]="selected"
			            (selectionChange)="itemsPerPage()">
				<mat-option value="20">20</mat-option>
				<mat-option value="40">40</mat-option>
				<mat-option value="60">60</mat-option>
				<mat-option value="80">80</mat-option>
				<mat-option value="100">100</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<mat-grid-list *ngIf="!isSearchActive; else searchSpinner"
		[cols]="breakpoint"
	               rowHeight="500px">
		<mat-grid-tile *ngFor="let hero of heroesList">
			<div>
				<mat-card class="hero-item">
					<div class="title marvel-font full-width">
						{{hero.name}}
					</div>

					<div class="hero-image full-width"
					     [style.background-image]="'url(' + hero.thumbnail.path + '.' + hero.thumbnail.extension +')'">
					</div>
				</mat-card>
			</div>
		</mat-grid-tile>
	</mat-grid-list>

	<ng-template #searchSpinner>
		<div class="spinner">
			<ngx-pulse-loader class="item"
			                  color="white">
			</ngx-pulse-loader>
		</div>
	</ng-template>
</section>

<ng-template #spinner>
	<div class="spinner">
		<ngx-pulse-loader class="item"
		                  color="white">
		</ngx-pulse-loader>
	</div>
</ng-template>



