<section *ngIf="!isLoading; else spinner">
<!--	<input matInput-->
<!--	       placeholder="Search your series"-->
<!--	       class="user-search"-->
<!--	       #searchBox-->
<!--	       (keyup)="search(searchBox.value)">-->

	<mat-paginator class="tab-pagination full-width"
	               (page)="onPageChanges($event)"
	               [length]="length"
	               [pageSize]="20"
	               [pageSizeOptions]="pageSizeOptions">
	</mat-paginator>

	<mat-grid-list [cols]="breakpoint"
	               rowHeight="450px">

		<mat-grid-tile class="item-container"
		               *ngFor="let story of currentItemsToShow; let i = index">
				<mat-card class="stories-item hover-scale position-relative">

					<div class="story-title marvel-font full-width"
					     (click)="changeText($event, story)">
						Story {{i + 1}}
					</div>

<!--					<mat-card-content class="stories-description"-->
<!--					                  [ngClass]="{displayNone: !isDescrActivated}">-->
<!--&lt;!&ndash;					<p>&ndash;&gt;-->
<!--						{{story.title}}-->
<!--&lt;!&ndash;					</p>&ndash;&gt;-->
<!--					</mat-card-content>-->

					<div class="series-image full-width"
					     [style.background-image]="'url(../../assets/images/stories-bg.jpg)'">
					</div>

					<mat-card-actions>
						<mat-icon class="story-descr-close"
						          (click)="changeText($event)">
							close
						</mat-icon>
					</mat-card-actions>
				</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
</section>

<ng-template #spinner>
	<div class="spinner">
		<ngx-pulse-loader class="item"
		                  color="white">
		</ngx-pulse-loader>
	</div>
</ng-template>


<!--<div class="story-item" *ngFor="let story of storiesList">-->
<!--	{{story.title}}-->

<!--</div>-->
