<section *ngIf="!isLoading; else spinner">
	<div class="simple-pagination full-width">
		<mat-form-field>
			<mat-label>Item per page</mat-label>
			<mat-select [(value)]="selected"
			            (selectionChange)="itemsPerPage()">
				<mat-option *ngFor="let item of selectOptions"
				            [value]=item>
					{{item}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<mat-grid-list *ngIf="!isSearchActive; else searchSpinner"
	               [cols]="breakpoint"
	               rowHeight="450px">

		<mat-grid-tile class="item-container"
		               *ngFor="let story of storiesList; let i = index">
				<mat-card class="stories-item hover-scale position-relative">

					<div class="story-title marvel-font full-width"
					     (click)="changeText($event, story)">
						Story {{i + 1}}
					</div>

<!--					<mat-card-content class="stories-description"-->
<!--					                  [ngClass]="{displayNone: !isDescrActivated}">-->
<!--&lt;!&ndash;					<p>&ndash;&gt;-->
<!--						{{story.title}}-->
<!--&lt;!&ndash;					</p>&ndash;&gt;-->
<!--					</mat-card-content>-->

					<div class="series-image full-width"
					     [style.background-image]="'url(../../assets/images/stories-bg.jpg)'">
					</div>

					<mat-card-actions>
						<mat-icon class="story-descr-close"
						          (click)="changeText($event)">
							close
						</mat-icon>
					</mat-card-actions>
				</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
	<ng-template #searchSpinner>
		<div class="spinner">
			<ngx-pulse-loader class="item"
			                  color="white">
			</ngx-pulse-loader>
		</div>
	</ng-template>
</section>

<ng-template #spinner>
	<div class="spinner">
		<ngx-pulse-loader class="item"
		                  color="white">
		</ngx-pulse-loader>
	</div>
</ng-template>
